
  #bodysec{
    width:45vh;
}
 
        #first{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    animation: first 3s ease-in 1;
    height: 100vh;
    width:100%;
}

  #second{
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); 
    height: 346px; }
  #third{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);    height: 346px; }
  #fourth{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    animation: first 3s ease-in 1;
    height: 100vh;}




.sspan{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    top:95%;
    text-shadow: 0px 0px 0px black;
    text-transform: none;
padding-top:15px;
    text-align: left;
    top:32%;
    left: 0%; 
    position: relative;
    line-height: 12pt; 
    
    letter-spacing:0.1em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  
  }   


body{
scroll-behavior: smooth;
   animation: body 0.7s ease-in-out 1; 
   overflow-x: hidden;
}
@keyframes body{
    from{opacity: 0;}
    to{opacity: 1;}
}
 .who{
    color: white;
    font-family: 'Open Sans', sans-serif;
    transform: translateX(-20%)  translateY(65%) ;
    margin-top: 9vh;
    text-align: left;
    padding-left: 3vh;
    text-shadow: #1C1C1C 4pc;
    opacity: 1;
    left: -45px;
    z-index: 6789;
    
 }

 .container {
     top:0%;
    width: 100vw;
    height: 100vh;
    opacity: 0;
  
    
    z-index: 7890;
  }
  
  .shadows {
    text-align: left;
    top:32%;
    left: 18%; 
    opacity: 1;
    position: relative;
    line-height: 88%; 
    text-transform: uppercase;
    text-shadow: -1px 1px 6px black;
    color: white;
    letter-spacing: -0.04em;
    font-family: 'Anton', Arial, sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-transform: uppercase;
    font-size: 45px;
    
  }
  
  
  


 
 .mirror {
    transform: rotate(90deg) ;
    top: 43px;
    position: relative;
    transform-origin: left top 0;
    background: white;
    color: #09203f;
    height: 30px;
    width: 82px;
    margin-top: 12px;
   font-size: 15px;
   padding: 5px;
   
}

.base {
    background: red;
    display: inline-block;
    height: 55px;
    margin-left: 20px;
    margin-top: 55px;
    position: relative;
    width: 100px;
  }
  .base:before {
    border-bottom: 35px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -35px;
    width: 0;
  }



.header{
   
}
.link{
    margin-left: -3%;
    float: left;
    width: 25%;
    text-align:center;
}
.header_fixed{
    left: 56%;
    position: fixed;
    z-index: 999;
}

.fa-github{
    margin:0 auto;
    position: relative;
    font-size: 54px;
    padding:12.3567%; 
    transform: 0.5s;
    color: white;
}
.fa-envelope{
    margin:0 auto;
    position: relative;
    font-size: 34px;
    padding:12.3567%; 
    margin-top: 6px;
    color: white;

}

.sider{
   
    width: 8%;
    left:83%;
    top:38%;
    padding:12px;
    height: 50%;
}
.spines{
    height: 27vh;
    width: 4.4vh;
    text-align:center;
    border-radius: 20vh;
    border:3px solid orange;
    
}

.fa-cog{
    transform: scale(1);
    margin:0 auto;
    position: relative;
    font-size: 20px;
    padding: 4.3567%; 
    color: white;
    top :34px;
}
.fa-spin{
    margin:0 auto;
    position: relative;
    font-size: 30px;
    padding: 4.3567%; 
    
    color: white;
}

















.section {
    text-align:center;
    font-size: 3em;
  }



 .mortada{
     z-index: 999;
     width: 30vh;
     border-radius: 50%;
     border: 5px solid white;
     margin: 0 auto;
     transform: translateY(85%) scale(1);
     perspective: 1000px;
    transform-style: preserve-3d;
     -webkit-box-shadow: -1px 2px 19px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 19px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 19px -2px rgba(0,0,0,0.75);
    animation: mortada .8s ease-in-out 1;
    
 }
 @keyframes mortada{
     0%{
        border: 70px solid white;
        transform: translateY(0%) scale(0) rotateZ(90deg);
        opacity: 0; 
     }
     50%{
         transform: rotate(30deg)
        border: 40px solid white;
        transform: translateY(50%) scale(0.5) rotateZ(45deg);;
        opacity: 1; 
     }
     70%{
        border: 20px solid white;
        transform: translateY(45%) scale(0.7)rotateZ(30deg);; 
    100%{
        border: 5px solid white;
        transform: translateY(40%) scale(1) rotateZ(0deg);; 
        }
     }

 








    
    .me{
        font-size: 15px;
        transform: translateY(50%);
        color: white;
    }

    
